<template>
    <form id="addItemForm" @submit.prevent="addNewItem">
        <div>
            <label for="itemName">Naam:</label>
            <input v-model="itemName" type="text" id="itemName" name="itemName" required minlength="3" maxlength="20">
        </div>
        <div> <label for="birthDate">Geboortedatum:</label>
            <input v-model="birthDate" type="date" id="birthDate" name="birthDate" required>
        </div>
        <div> <label for="familyName">Achternaam</label>
            <input disabled id="familyName" :value="props.itemObject.name" />
        </div>
        <div>
            <button type="submit">Voeg het lid toe</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';

const instance = getCurrentInstance();
const itemName = ref('');
const birthDate = ref('');

const props = defineProps({
    itemObject: {
        type: Object,
        required: false
    }
});
async function addNewItem() {
    const data = {
        name: itemName.value,
        birth_date: birthDate.value,
        family_id: props.itemObject.id
    };
    try {
        await axios.post(`/api/members`, data);
        instance.emit('message', `Lid ${data.name} is toegevoegd!`);
        itemName.value = '';
        birthDate.value = '';
    } catch (e) {
        instance.emit('message', `Toevoegen mislukt: ${e.response.data.message}`);
    }
}
</script>
