<template>
    <form id="deleteItemForm" @submit.prevent="deleteItem">
        <div>
            <p>Weet je zeker dat je {{ itemObject.name }} wil verwijderen uit het systeem?</p>
            <label for="nameVerification">Vul ter verificatie de naam in:</label>
            <input :disabled="deleted" v-model="nameVerification" type="text" id="nameVerification" name="nameVerification"
                required minlength="3" maxlength="20">
        </div>
        <div>
            <button type="submit">Verwijder het lid</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const nameVerification = ref('');
const deleted = ref(false);
const props = defineProps({

    itemObject: {
        type: Object,
        required: true
    }
});

async function deleteItem() {
    if (props.itemObject.name == nameVerification.value) {
        try {
            await axios.delete(`/api/members/${props.itemObject.id}`);

            instance.emit('message', `${props.itemObject.name} is verwijderd uit het bestand!`);
            nameVerification.value = '';
            deleted.value = true;
        } catch (e) {
            instance.emit('message', `Verwijdering mislukt: ${e.response.data.message}`);
        }
    } else {
        instance.emit('message', 'Naam komt niet overeen: verificatie is hoofdletter gevoelig!');
    }
}
</script>
