<template>
    <form id="updateItemForm" @submit.prevent="updateItem">
        <div> <label for="memberName">Naam:</label>
            <input :disabled="!changeName" v-model="memberName" type="text" id="memberName" name="memberName" required>
            <div>
                <label for="changeName"><small>Wijzig de naam</small></label>
                <input id="changeName" name="changeName" type="checkbox" v-model="changeName">
            </div>
        </div>
        <div> <label for="birthDate">Geboortedatum:</label>
            <input v-model="memberBirthDate" type="date" id="birthDate" name="birthDate" required>
        </div>
        <div>
            <button type="submit">Wijzig het lid</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
import { useFamilyStore } from '@/stores/familyStore';
const familyStore = useFamilyStore();
const findFamilyById = familyStore.findFamilyById;


const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    },
    familyName: {
        type: String,
        required: true
    }
});
const instance = getCurrentInstance();
const memberName = ref(props.itemObject.name);
const memberBirthDate = ref(props.itemObject.birth_date);
const memberId = ref(props.itemObject.id);
const changeName = ref(false);

async function updateItem() {
    const data = {
        name: memberName.value,
        birth_date: memberBirthDate.value,
        family_id: props.itemObject.family_id
    };
    try {
        await axios.put(`/api/members/${memberId.value}`, data);
        memberBirthDate.value = '';
        memberName.value = '';
        instance.emit('message', `${data.name} is gewijzigd!`);

    } catch (e) {
        instance.emit('message', `Update mislukt ${e.response.data.message}`);
    }
}
</script>
