<template>
  <ion-icon role="button" aria-label="Filter data by ascending or descending order" @click="sort(propertyFilter)"
    name="filter"></ion-icon>
</template>
  
<script setup>
import { ref } from 'vue';
import { useFamilyStore } from '@/stores/familyStore';

const props = defineProps({
  propertyFilter: {
    type: String,
  },
});

const familyStore = useFamilyStore();
const sortOrder = ref(-1);

const sort = (property) => {
  familyStore.familyData.sort((a, b) => {
    return sortOrder.value * (a[property] - b[property]);
  });
  sortOrder.value *= -1;
};
</script>
  