<template>
    <form id="addItemForm" @submit.prevent="addNewItem">
        <div>
            <label for="description">Beschrijving soort lid:</label>
            <input v-model="description" type="text" id="description" name="description" required minlength="3"
                maxlength="20">
        </div>
        <div>
            <label for="discount">Korting: <small>maximaal &euro;100,&hyphen;</small></label>
            <input v-model="discount" type="number" id="discount" name="discount" required min="0" max="100">
        </div>
        <div>
            <label for="max_age">Leeftijd tot:</label>
            <input v-model="max_age" type="number" id="max_age" name="max_age" required max="120">
        </div>
        <div>
            <button type="submit">Voeg de nieuwe staffel toe</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const description = ref('');
const discount = ref('');
const max_age = ref('');

async function addNewItem() {
    const data = {
        description: description.value,
        discount: discount.value,
        max_age: max_age.value
    };

    try {
        await axios.post(`/api/memberships`, data);
        instance.emit('message', `Nieuw lidmaatschap: ${data.description} is toegevoegd!`);
        description.value = '';
        discount.value = '';
    } catch (e) {
        instance.emit('message', `Toevoeging mislukt: ${e.response.data.message}`);
    }
}
</script>
