<template>
    <form id="deleteItemForm" @submit.prevent="deleteItem">
        <div>
            <p>Weet je zeker dat je staffel {{ itemObject.description }} wil verwijderen?</p>
            <label for="nameVerification">Vul de naam van de staffel in ter verificatie:</label>
            <input :disabled="deleted" v-model="nameVerification" type="text" id="nameVerification" name="nameVerification"
                required minlength="3" maxlength="20">
        </div>
        <div>
            <button type="submit">Verwijder de staffel</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import { useFamilyStore } from '@/stores/familyStore';
import axios from 'axios';
const familyStore = useFamilyStore();
const instance = getCurrentInstance();
const nameVerification = ref('');
const deleted = ref(false);
const props = defineProps({

    itemObject: {
        type: Object,
        required: true
    }
});

async function deleteItem() {
    if (props.itemObject.description == nameVerification.value) {
        try {
            await axios.delete(`/api/memberships/${props.itemObject.id}`);

            instance.emit('message', `Lidmaatschap ${props.itemObject.description} is verwijderd uit het bestand!`);
            nameVerification.value = '';
            deleted.value = true;
            familyStore.fill();
        } catch (e) {
            instance.emit('message', `Verwijdering is mislukt ${e.response.data.message}`);
        }
    } else {
        instance.emit('message', 'De naam komt niet overeen. Verificatie is hoofdletter gevoelig!');
    }
}
</script>
