<template>
    <form id="updateItemForm" @submit.prevent="updateItem">
        <div>
            <label for="selectedMembershipship">Selecteer de staffel: </label>
            <select name="selectedMembershipship" id="selectedMembershipship" @change="selectMembership">
                <option value="" selected>Selecteer een staffel</option>
                <option v-for="membership in itemObject" :value="membership.id">{{ membership.description }}</option>
            </select>
        </div>

        <div> <label for="membershipDescription">Naam van de staffel:</label>
            <input :disabled="!changeName" v-model="membershipDescription" type="text" id="membershipDescription"
                name="membershipDescription" required>
            <div>
                <label for="changeName"><small>Verander de naam</small></label>
                <input id="changeName" name="changeName" type="checkbox" v-model="changeName">
            </div>
        </div>
        <div> <label for="maxAge">Tot de leeftijd:</label>
            <input v-model="membershipMaxAge" min="0" type="number" id="maxAge" name="maxAge" max="120">
        </div>
        <div> <label for="discount">Korting<small> maximaal: &euro;100,&hyphen;</small></label>
            <input v-model="membershipDiscount" min="0" type="number" id="discount" max="100" name="discount">
        </div>

        <div>
            <button type="submit">Wijzig de staffel</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';

const instance = getCurrentInstance();
const membershipDescription = ref('');
const membershipDiscount = ref('');
const membershipMaxAge = ref('');
const membershipId = ref('');
const changeName = ref(false);
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

function selectMembership(e) {
    membershipId.value = e.target.value;
    const selectedMembershipship = props.itemObject.find((membership) => membership.id == membershipId.value);
    membershipDescription.value = selectedMembershipship ? selectedMembershipship.description : '';
    membershipDiscount.value = selectedMembershipship ? selectedMembershipship.discount : '';
    membershipMaxAge.value = selectedMembershipship ? selectedMembershipship.max_age : '';
}

async function updateItem() {
    const data = {
        discount: membershipDiscount.value,
    };

    if (membershipMaxAge.value == selectMembership.max_age) {
        data.max_age = membershipMaxAge.value;
    }
    if (changeName.value) {
        data.description = membershipDescription.value;
    }
    try {
        await axios.put(`/api/memberships/${membershipId.value}`, data);
        instance.emit('reloadData', `Het lidmaatschap is succesvol gewijzigd ${data.name}`);
        membershipDiscount.value = '';
        membershipDescription.value = '';
        membershipMaxAge.value = '';
        instance.emit('message', 'Wijziging geslaagd!');

    } catch (e) {
        instance.emit('message', `Wijziging mislukt: ${e.response.data.message}`);
    }
}
</script>
