<template>
    <form id="addItemForm" @submit.prevent="addNewItem">
        <div>
            <label for="year">Jaar:</label>
            <input v-model="year" type="text" id="year" name="year" required minlength="4" maxlength="4">
        </div>
        <div>
            <label for="base_price">Basisprijs:<small>minimaal &euro;100,&hyphen;</small></label>
            <input v-model="base_price" type="text" id="base_price" name="base_price" required min="100">
        </div>
        <div>
            <button type="submit">Voeg boekjaar toe</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const year = ref('');
const base_price = ref('');

async function addNewItem() {
    const data = {
        year: year.value,
        base_price: base_price.value
    };

    try {
        await axios.post(`/api/fiscalyears`, data);
        instance.emit('message', `Toevoegen van boekjaar ${data.year} is geslaagd`);
        year.value = '';
        base_price.value = '';
    } catch (e) {
        instance.emit('message', `Toevoegen mislukt: ${e.response.data.message}`);
    }
}
</script>
