<template>
    <form id="deleteItemForm" @submit.prevent="deleteItem">
        <div>
            <p>Weet je zeker dat je boekjaar {{ itemObject.year }} wil verwijderen?</p>
            <label for="nameVerification">Vul ter verificatie het jaar in dat u wil verwijderen:</label>
            <input :disabled="deleted" v-model="nameVerification" type="text" id="nameVerification" name="nameVerification"
                required minlength="3" maxlength="20">
        </div>
        <div>
            <button type="submit">Verwijder het boekjaar</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance, onMounted } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const nameVerification = ref('');
const deleted = ref(false);

const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function deleteItem() {
    if (props.itemObject.year == nameVerification.value) {
        try {
            await axios.delete(`/api/fiscalyears/${props.itemObject.year}`);
            instance.emit('message', `Boekjaar ${props.itemObject.year} succesvol verwijderd!`);
            nameVerification.value = '';
            deleted.value = true;
        } catch (e) {
            instance.emit('message', `Boekjaar niet verwijderd: ${e.response.data.message}`);
        }
    } else {
        instance.emit('message', 'Zorg ervoor dat het jaar overeen komt met het gewenste jaar');
    }
}
</script>
