<template>
    <form id="updateItemForm" @submit.prevent="updateItem">
        <div> <label for="basePrice">Nieuwe basisprijs:<small>minimaal &euro;100,&hyphen;</small></label>
            <input v-model="basePrice" type="number" min="100" id="basePrice" name="basePrice" required>

        </div>
        <div>
            <button type="submit">Wijzig het Boekjaar</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';

const instance = getCurrentInstance();
const basePrice = ref('');
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function updateItem() {
    const data = {
        base_price: basePrice.value
    };
    try {
        await axios.put(`/api/fiscalyears/${props.itemObject.year}`, data);
        basePrice.value = '';
        instance.emit('message', `Wijziging geslaagd: basisprijs gewijzigd naar ${data.base_price}`);
    } catch (e) {
        instance.emit('message', `Wijziging mislukt: ${e.response.data.message}`);
    }
}
</script>
