<template>
  <div>
    <div class="spinnerWrapper">
      <div class="spinner"></div>
      <div>{{ loadingText }}</div>
    </div>
  </div>
</template>
  
<script setup>
const props = defineProps({
  loadingText: {
    type: String,
    default: "Loading please wait..."
  }
})
</script>
