<template>
    <form id="addItemForm" @submit.prevent="addNewItem">
        <div>
            <label for="itemName">Name:</label>
            <input v-model="itemName" type="text" id="itemName" name="itemName" required minlength="3" maxlength="20">
        </div>
        <div>
            <button type="submit">Add Family</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const itemName = ref('');

async function addNewItem() {
    const data = {
        name: itemName.value
    };

    try {
        await axios.post(`/api/families`, data);
        instance.emit('message', `Succesvol familie ${data.name} toegevoegd`);
        itemName.value = '';
    } catch (e) {
        instance.emit('message', `Toevoegen van de familie is mislukt ${e.response.data.message}`);
    }
}
</script>
