<template>
    <form id="deleteItemForm" @submit.prevent="deleteItem">
        <div>
            <p>Weet je zeker dat je de familie {{ itemObject.name }} wil verwijderen?</p>
            <label for="nameVerification">Vul ter verificatie de naam van de familie in:</label>
            <input :disabled="deleted" v-model="nameVerification" type="text" id="nameVerification" name="nameVerification"
                required minlength="3" maxlength="20">
        </div>
        <div>
            <button type="submit">Verwijder de familie</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const nameVerification = ref('');
const deleted = ref(false);
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function deleteItem() {
    if (props.itemObject.name == nameVerification.value) {
        try {
            await axios.delete(`/api/families/${props.itemObject.id}`);

            instance.emit('message', `Succesvol familie ${props.itemObject.name} verwijderd!`);
            nameVerification.value = '';
            deleted.value = true;
        } catch (e) {
            instance.emit('message', `Verwijderen van de familie is mislukt ${e.response.data.message}`);
        }
    } else {
        instance.emit('message', 'De naam komt niet overeen. Verificatie is hoofdletter gevoelig!');
    }
}
</script>
