<template>
    <form id="updateItemForm" @submit.prevent="updateItem">
        <div> <label for="familyName">Nieuwe naam voor de familie:</label>
            <input v-model="familyName" type="text" id="familyName" name="familyName" required>

        </div>
        <div>
            <button type="submit">Wijzig de familie</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';

const instance = getCurrentInstance();
const familyName = ref('');
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function updateItem() {
    const data = {
        name: familyName.value
    };
    try {
        await axios.put(`/api/families/${props.itemObject.id}`, data);
        familyName.value = '';
        instance.emit('message', `Wijziging geslaagd: naam gewijzigd in ${data.name}`);

    } catch (e) {
        instance.emit('message', `Wijziging mislukt: de naam is niet gewijzigd ${e.response.data.message}`);
    }
}
</script>
