<template>
  <Header v-if="userStore.userData" />
  <Navigation v-if="userStore.userData" />
  <router-view class="content" />
  <Footer v-if="userStore.userData" />
</template>

<script setup>
import { useUserStore } from './stores/auth.js';
import Navigation from "./components/Layout/Navigation.vue";
import Header from "./components/Layout/Header.vue";
import Footer from "./components/Layout/Footer.vue";

const userStore = useUserStore();

</script>
