<template>
  <ion-icon class="refresh-icon" size="large" @click="getDashboardData()" name="refresh-outline"></ion-icon>
  <table v-if="familyStore.familyData">
    <thead>
      <tr>
        <th>
          <span>Familie Id</span>
          <NumberFilter property-filter="id" />
        </th>
        <th>
          <span>Familie</span>
          <AddItemDialog type="createFamily" @reloadData="getDashboardData" :itemObject="family" icon="add-circle"
            size="large" />
        </th>
        <th>
          <span>Gezinsleden</span>
        </th>
        <th><span>Adres</span></th>
        <th>
          <span>Contributie</span>
          <NumberFilter property-filter="fee" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="dataLoaded && familyStore.familyData" v-for="family in familyStore.familyData" :key="family.id">
        <td>
          {{ family.id }}
        </td>
        <td>
          <RouterLink :to="`family/${family.id}`">{{ family.name }}</RouterLink>
          <AddItemDialog :key="family.id + '_update_family'" type="updateFamily" @reloadData="getDashboardData"
            :itemObject="family" icon="create" size="small" />
          <AddItemDialog :key="family.id + '_delete_family'" type="deleteFamily" @reloadData="getDashboardData"
            :itemObject="family" icon="trash" size="small" />
        </td>
        <td>
          <AddItemDialog :key="family.id + '_create_member'" type="createMember" @reloadData="getDashboardData"
            :itemObject="family" icon="add-circle" size="large" />
          <details v-if="family.family_members">
            <summary>{{ family.family_members.length }}</summary>
            <div :key="family.familyId" v-for="member in family.family_members">
              {{ member.name }}
              <span> &euro;{{ member.fee }},&hyphen;</span>
              <AddItemDialog :key="family.id + '_update_member'" type="updateMember" @reloadData="getDashboardData"
                :itemObject="member" icon="create" size="small" />
              <AddItemDialog :key="member.id + '_delete_member'" type="deleteMember" @reloadData="getDashboardData"
                :itemObject="member" icon="trash" size="small" />
            </div>
          </details>
        </td>
        <td>
          <AddItemDialog :key="family.id + 'create_adress'" type="createAdress" v-if="!family.adress"
            @reload-data="getDashboardData" icon="add-circle" size="large" :item-object="family.id" />
          <details v-if="family.adress">
            <summary v-if="family.adress"><strong>Straat: </strong>
              <AddItemDialog :key="family.adress.id + 'update_adress'" type="updateAdress" v-if="family.adress"
                @reload-data="getDashboardData" icon="create" size="small" :item-object="family.adress" />
              <AddItemDialog :key="family.adress.id + 'delete_adress'" type="deleteAdress" v-if="family.adress"
                @reload-data="getDashboardData" icon="trash" size="small" :item-object="family.adress" />
              <div>{{ `${family.adress.street} ${family.adress.number + family.adress.letter} ` }}</div>
            </summary>
            <ul v-if="family.adress">
              <li><strong>Provincie</strong>: {{ family.adress.province }}</li>
              <li><strong>Stad</strong>: {{ family.adress.city }}</li>
              <li><strong>Postcode</strong>: {{ family.adress.zipcode }}</li>
            </ul>
          </details>

        </td>
        <td>
          &euro;{{ family.fee }},&hyphen;
        </td>
      </tr>
      <Spinner v-else loading-text="Loading data..." />
    </tbody>
  </table>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useFamilyStore } from '@/stores/familyStore';
import Spinner from '@/components/Loaders/Spinner.vue';
import NumberFilter from '@/components/Filters/NumberFilter.vue';
import AddItemDialog from '@/components/CrudComponents/AddItemDialog.vue';

const dataLoaded = ref(false);
const familyStore = useFamilyStore();

async function getDashboardData() {
  dataLoaded.value = false;
  await familyStore.fill();
  dataLoaded.value = true;
}

onMounted(async () => {
  dataLoaded.value = false;
  if (!familyStore.familyData) {
    await familyStore.fill();
  }
  dataLoaded.value = true;
});
</script>
