<template>
    <ul>
        <li v-for="link in links" :key="link.id">
            <RouterLink :to="link.url"> <ion-icon v-if="!props['footer']" size="small" :name="link.icon"></ion-icon> {{
                link.label }}</RouterLink>
        </li>
        <li v-if="props['footer']" v-for="link in footerlinks" :key="link.id">
            <a :href="link.url"> {{ link.label }}</a>
        </li>
    </ul>
</template>

<script setup>
import { footerlinks, links } from '../modules/navigation-links.js';
const props = defineProps(['footer']);
</script>
