@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/* Header */
header {
  inline-size: 100vw;
  grid-area: head;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2.4px 3.2px;
}

header>div:first-of-type {
  padding-block-end: 1rem;
}

header span {
  inline-size: fit-content;
  margin-inline: auto;
}

header>div:last-of-type {
  position: relative;

}

header>div:last-of-type>* {
  margin-inline: 1rem;
  padding: 10px;
}

header ion-icon {
  cursor: pointer;
  border-radius: 50%;
  transition: all 250ms ease-in-out 50ms;
}

body {
  min-inline-size: 100vw;
  min-block-size: 100vh;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  margin: 0;
  display: grid;
}

h1 {
  letter-spacing: .1rem;
}

* {
  font-family: 'Heebo', sans-serif;
}

ion-icon {
  cursor: pointer;
}

#app {
  min-inline-size: 100vw;
  min-block-size: 100vh;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas:
    "head head"
    "nav content"
    "footer footer "
  ;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 8fr;
  color: #2c3e50;
  font-family: 'Heebo', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.content {
  grid-area: content;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


nav {
  grid-area: nav;
  border-radius: 0 4px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
  background-color: hsla(217, 100%, 57%, 1);
}

nav ul {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

nav li {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: .5rem;
  border-radius: 10px;
  transition: all 250ms ease-in-out 50ms;
}

nav a.router-link-exact-active {
  color: #42b983;

}

form {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  gap: 2rem;
  font-size: 1.2rem;
}

form input {
  font-size: 1.1rem;
  inline-size: 100%;
}

form button {
  inline-size: 100%;
  padding: .4rem;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  background-color: rgb(24, 48, 129);
  color: white;
  transition: all 100ms ease-in-out 50ms;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

form select {
  inline-size: 100%;
  font-size: 1.2rem;
}

form input[type="checkbox"] {
  inline-size: min-content;
}

.disabledButton {
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 0 3px black;
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

table {
  min-inline-size: max-content;
  min-block-size: 70%;
  inline-size: 60%;
  margin-inline: auto;
  position: relative;
}

tr>td {
  inline-size: 20%;
  padding-block: .6rem;
  position: relative;
}

tr:nth-child(odd) {
  background-color: rgba(205, 241, 255, 0.507);
}

tr>td:first-of-type {
  inline-size: 10%;
  white-space: nowrap;
}

tr>td:nth-of-type(3) {
  padding-left: 1rem;
  text-align: start;
}

th {
  padding-block: .3rem;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: hsla(217, 100%, 57%, 1);
  color: white;
  text-shadow: 0 0 1px black;
}

.table-wrapper {
  overflow: auto;
}

.refresh-icon {
  position: relative;
}

dialog input {
  display: block;
}

/* Footer */
footer {
  grid-area: footer;
}

footer>div {
  block-size: 100%;
  min-inline-size: 100%;
  inline-size: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer ul {
  display: grid;
  grid-template-rows: repeat(3, minmax(1fr, min-content));
  grid-template-columns: repeat(3, 1fr);
}

/* Spinner */
.spinnerWrapper {
  block-size: fit-content;
  inline-size: max-content;
  padding: 3rem;

  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  border-radius: 10px;
  background: white;
}

.spinner {
  border: 7px solid rgb(0 0 0);
  border-radius: 50%;
  inline-size: 3rem;
  block-size: 3rem;
  background: linear-gradient(90deg, rgba(151, 145, 255, 1) 0%, rgba(21, 140, 255, 1) 38%, rgba(16, 59, 195, 1) 91%);
  border-bottom: 5px transparent;
  animation: 1.5s ease-in-out infinite spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (hover) {
  nav>ul a:hover {
    background-color: white;
    color: black;
  }

  nav a.router-link-exact-active {
    background-color: white;
    color: black;
  }

  form button:hover {
    cursor: pointer;
    background-color: rgb(64, 86, 160);
  }

}

/* Login */

#loginPage {
  block-size: 100vh;
  inline-size: 100vw;
  max-block-size: 100vh;
  max-inline-size: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

#loginPage h1 {
  font-size: 1.9rem;
  margin-block-end: 0;
}

#loginPage section {
  inline-size: 18rem;
  block-size: 22rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  border-radius: 14px;
  box-shadow: 0 0 3px black;
  padding-block-start: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Elements */
.refresh-icon {
  position: absolute;
  right: 10rem;
  cursor: pointer;
}

details {
  display: flex;
  max-block-size: 4rem;
  overflow-y: auto;
}

details a {
  inline-size: fit-content;
  margin-inline: auto;
  text-decoration: none;
}

.add-new-item {
  margin-inline-start: auto;
}

.table-wrapper {
  position: relative;
}

#addItemDialog>form>div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Media */
@media screen and (min-width: 900px) {
  header>div:last-of-type {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    display: flex;

  }

  header>div:last-of-type>div>span {
    padding-inline: .5rem;
  }

  @media screen and (hover) {
    header ion-icon:hover {
      background-color: lightblue;
      scale: 1.3;

    }

    tr:nth-child(odd):hover {
      background-color: rgba(205, 241, 255, 0.85);
    }

    tr:nth-child(even):hover {
      background-color: rgba(240, 239, 239, 0.60);
    }

    table ion-icon {
      cursor: pointer;
    }

  }

}