<template>
    <footer>
        <div>
            <NavigationList footer="true" />
        </div>
    </footer>
</template>

<script setup>
import NavigationList from '../NavigationList.vue';
</script>
