<template>
    <header>
        <div>
            <h1>{{ $route.name }}</h1>
        </div>
        <div>
            <div>
                <ion-icon title="Go to user profile" aria-label="user profile button" role="button" tabindex="0"
                    name="person-outline" size="large"></ion-icon>
                <span>{{ userStore.userData.name ?? userStore.parsedUserData.name }} &nbsp;</span>
                <span>{{ userStore.userData.role ?? userStore.parsedUserData.role }}</span>
            </div>
            <div>
                <ion-icon title="Click to log out" @click.prevent="userStore.signOut()" aria-label="log out button"
                    role="button" tabindex="0" name="log-out-outline" size="large"></ion-icon>
            </div>
        </div>
    </header>
</template>

<script setup>
import { useUserStore } from '@/stores/auth';
const userStore = useUserStore();
</script>
