<template>
    <form id="addItemForm" @submit.prevent="addNewItem">
        <div>
            <label for="provincie">Provincie:</label>
            <select v-model="provincie" name="provincie" id="provincie">
                <option selected hidden disabled>Maak een keuze</option>
                <option value="drenthe">Drenthe</option>
                <option value="flevoland">Flevoland</option>
                <option value="friesland">Friesland</option>
                <option value="gelderland">Gelderland</option>
                <option value="groningen">Groningen</option>
                <option value="limburg">Limburg</option>
                <option value="noord-brabant">Noord&hyphen;Brabant</option>
                <option value="noord-holland">Noord&hyphen;Holland</option>
                <option value="overijssel">Overijssel</option>
                <option value="utrecht">Utrecht</option>
                <option value="zeeland">Zeeland</option>
                <option value="zuid-holland">Zuid&hyphen;Holland</option>
            </select>
        </div>
        <div>
            <label for="straatnaam">Straatnaam:</label>
            <input v-model="straatnaam" type="text" id="straatnaam" name="straatnaam" required maxlength="50">
        </div>
        <div>
            <label for="huisnummer">Huisnummer:</label>
            <input v-model="huisnummer" type="text" id="huisnummer" name="huisnummer" required maxlength="5">
        </div>
        <div>
            <label for="toevoeging">Toevoeging:</label>
            <input v-model="toevoeging" type="text" id="toevoeging" name="toevoeging" maxlength="1">
        </div>
        <div>
            <label for="stad">Stad:</label>
            <input v-model="stad" type="text" id="stad" name="stad" maxlength="35">
        </div>
        <div>
            <label for="postcode">Postcode: <small>1234AB</small></label>
            <input pattern="^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-zA-Z]{2}$" v-model="postcode" type="text" id="postcode"
                name="postcode">
        </div>
        <div>
            <button type="submit">Voeg nieuw adres toe</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const provincie = ref('');
const stad = ref('');
const postcode = ref('');
const straatnaam = ref('');
const huisnummer = ref('');
const toevoeging = ref('');
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function addNewItem() {
    const data = {
        province: provincie.value,
        city: stad.value,
        zipcode: postcode.value,
        street: straatnaam.value,
        number: huisnummer.value,
        letter: toevoeging.value,
        family_id: props.itemObject
    };
    try {
        await axios.post(`/api/addresses`, data);
        instance.emit('message', `Succesvol het nieuwe adres toegevoegd`);
        provincie.value = '';
        stad.value = '';
        postcode.value = '';
        straatnaam.value = '';
        huisnummer.value = '';
    } catch (e) {
        instance.emit('message', `Toevoegen van het nieuwe adres is mislukt: ${e.response.data.message}`);
    }
}
</script>
