<template>
    <form id="deleteItemForm" @submit.prevent="deleteItem">
        <div>
            <p>Weet je zeker dat je het adres permanent wil verwijderen?</p>
            <div>
                <label for="verification">Vink het vakje aan als je er zeker van bent:</label>
                <input v-model="verification" type="checkbox">
            </div>
        </div>
        <div>
            <button :hidden="!verification" type="submit">Verwijder het adres</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';
const instance = getCurrentInstance();
const verification = ref(false);
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});

async function deleteItem() {
    if (verification.value) {
        try {
            await axios.delete(`/api/addresses/${props.itemObject.id}`);

            instance.emit('message', `Succesvol het adres verwijderd!`);
        } catch (e) {
            instance.emit('message', `Verwijderen van het adres is mislukt ${e.response.data.message}`);
        }
    } else {
        instance.emit('message', 'Vink het vakje aan!');
    }
}
</script>
