<template>
    <form id="updateItemForm" @submit.prevent="updateItem">
        <div>
            <label for="provincie">Provincie:</label>
            <select v-model="adressObject.province" name="provincie" id="provincie">
                <option selected hidden disabled>{{ adressObject.province }}</option>
                <option value="drenthe">Drenthe</option>
                <option value="flevoland">Flevoland</option>
                <option value="friesland">Friesland</option>
                <option value="gelderland">Gelderland</option>
                <option value="groningen">Groningen</option>
                <option value="limburg">Limburg</option>
                <option value="noord-brabant">Noord&hyphen;Brabant</option>
                <option value="noord-holland">Noord&hyphen;Holland</option>
                <option value="overijssel">Overijssel</option>
                <option value="utrecht">Utrecht</option>
                <option value="zeeland">Zeeland</option>
                <option value="zuid-holland">Zuid&hyphen;Holland</option>
            </select>
        </div>
        <div>
            <label for="straatnaam">Straatnaam:</label>
            <input v-model="adressObject.street" type="text" id="straatnaam" name="straatnaam" required maxlength="50">
        </div>
        <div>
            <label for="huisnummer">Huisnummer:</label>
            <input v-model="adressObject.number" type="text" id="huisnummer" name="huisnummer" required maxlength="5">
        </div>
        <div>
            <label for="toevoeging">Toevoeging:</label>
            <input v-model="adressObject.letter" type="text" id="toevoeging" name="toevoeging" maxlength="1">
        </div>
        <div>
            <label for="stad">Stad:</label>
            <input v-model="adressObject.city" type="text" id="stad" name="stad" maxlength="35">
        </div>
        <div>
            <label for="postcode">Postcode: <small>1234AB</small></label>
            <input pattern="^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-zA-Z]{2}$" v-model="adressObject.zipcode" type="text"
                id="postcode" name="postcode">
        </div>
        <div>
            <button type="submit">Wijzig het adres</button>
        </div>
    </form>
</template>

<script setup>
import { ref, getCurrentInstance } from 'vue';
import axios from 'axios';

const instance = getCurrentInstance();
const familyName = ref('');
const props = defineProps({
    itemObject: {
        type: Object,
        required: true
    }
});
const adressObject = ref({ ...props.itemObject });

async function updateItem() {
    try {
        await axios.put(`/api/addresses/${adressObject.value.id}`, adressObject.value);
        adressObject.value.province = '';
        adressObject.value.city = '';
        adressObject.value.zipcode = '';
        adressObject.value.street = '';
        adressObject.value.number = '';
        adressObject.value.letter = '';
        instance.emit('message', `Adres is succesvol gewijzigd!`);

    } catch (e) {
        instance.emit('message', `De wijziging mislukt: ${e.response.data.message}`);
    }
}
</script>
