<template>
    <ion-icon class="add-new-item" :size="size" @click="showDialog" :name="`${icon}-outline`"></ion-icon>
    <dialog :id="`${type}Dialog${props.itemObject ? props.itemObject.id : props.type}`">
        <!-- Family -->
        <AddFamily @message="showMessage" v-if="type == 'createFamily'" />
        <UpdateFamily @message="showMessage" v-else-if="type == 'updateFamily'" :itemObject="itemObject" />
        <DeleteFamily @message="showMessage" v-else-if="type == 'deleteFamily'" :itemObject="itemObject" />
        <!-- Member -->
        <AddMember @message="showMessage" v-else-if="type == 'createMember'" :itemObject="itemObject" />
        <DeleteMember @message="showMessage" v-else-if="type == 'deleteMember'" :itemObject="itemObject" />
        <UpdateMember @message="showMessage" v-else-if="type == 'updateMember'" :itemObject="itemObject"
            :family-name="familyName" />
        <!-- Adress -->
        <AddAdress @message="showMessage" v-else-if="type == 'createAdress'" :itemObject="itemObject" />
        <DeleteAdress @message="showMessage" v-else-if="type == 'deleteAdress'" :itemObject="itemObject" />
        <UpdateAdress @message="showMessage" v-else-if="type == 'updateAdress'" :itemObject="itemObject" />
        <!-- Membership -->
        <AddMembership @message="showMessage" v-else-if="type == 'addMembership'" :itemObject="itemObject" />
        <UpdateMembership @message="showMessage" v-else-if="type == 'updateMembership'" :itemObject="itemObject" />
        <DeleteMembership @message="showMessage" v-else-if="type == 'deleteMembership'" :itemObject="itemObject" />
        <!-- Fiscal Year -->
        <AddFiscalYear @message="showMessage" v-else-if="type == 'addFiscalYear'" />
        <UpdateFiscalYear @message="showMessage" v-else-if="type == 'updateFiscalYear'" :itemObject="itemObject" />
        <DeleteFiscalYear @message="showMessage" v-else-if="type == 'deleteFiscalYear'" :itemObject="itemObject" />

        <button type="button" @click=" closeDialog($event)">{{ closeButton }}</button>
        <p>{{ message }}</p>
    </dialog>
</template>
  
<script setup>
import { getCurrentInstance, ref } from 'vue'
// Family
import AddFamily from '@/components/CrudComponents/FamiliesCrud/AddFamily.vue';
import UpdateFamily from './FamiliesCrud/UpdateFamily.vue';
import DeleteFamily from '@/components/CrudComponents/FamiliesCrud/DeleteFamily.vue';
// Member
import AddMember from '@/components/CrudComponents/MembersCrud/AddMember.vue';
import DeleteMember from '@/components/CrudComponents/MembersCrud/DeleteMember.vue';
import UpdateMember from '@/components/CrudComponents/MembersCrud/UpdateMember.vue';
// Adress
import AddAdress from '@/components/CrudComponents/AdressCrud/AddAdress.vue';
import DeleteAdress from '@/components/CrudComponents/AdressCrud/DeleteAdress.vue';
import UpdateAdress from '@/components/CrudComponents/AdressCrud/UpdateAdress.vue';
// Membership
import AddMembership from './MembershipsCrud/AddMembership.vue';
import UpdateMembership from './MembershipsCrud/UpdateMembership.vue';
import DeleteMembership from './MembershipsCrud/DeleteMembership.vue';
// Fiscal Year
import AddFiscalYear from './FiscalYearsCrud/AddFiscalYear.vue';
import UpdateFiscalYear from './FiscalYearsCrud/UpdateFiscalYear.vue';
import DeleteFiscalYear from './FiscalYearsCrud/DeleteFiscalYear.vue';

const emits = defineEmits(['reloadData']);
const message = ref('');
const closeButton = ref('Terug');
const props = defineProps({
    type: {
        type: String,
        required: true
    },
    itemObject: {
        type: Object,
        required: false
    },
    icon: {
        type: String,
        required: true
    },
    size: {
        type: String,
        required: true
    },
    familyName: {
        type: String,
        required: false
    }
});
const instance = getCurrentInstance();

const showDialog = () => {
    const dialog = document.getElementById(`${props.type}Dialog${props.itemObject ? props.itemObject.id : props.type}`);
    message.value = '';
    dialog.showModal();
};

const closeDialog = () => {
    const dialog = document.getElementById(`${props.type}Dialog${props.itemObject ? props.itemObject.id : props.type}`);
    dialog.close();
    if (message.value.length > 1) {
        instance.emit('reloadData');
    }
    closeButton.value = "Terug";
};

const showMessage = (response) => {
    message.value = response;
    if (message.value.search(/fail/i) == -1) {
        closeButton.value = "Herlaad de data";
    }
}
</script>
  