<template>
  <section class="table-wrapper">
    <table v-if="family">
      <caption>
        <h2>Familie {{ family.name }}</h2>
      </caption>
      <thead>
        <tr>
          <th>Id<div>
              <AddItemDialog :key="family.id + '_create_member'" type="createMember" @reloadData="fetchData()"
                :itemObject="family" icon="add-circle" size="large" />

            </div>
          </th>
          <th>Naam</th>
          <th>Geboortedatum</th>
          <th>Soort lid</th>
          <th>Kosten</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="dataLoaded" v-for="member in family.family_members" :key="member.id">
          <td>
            {{ member.id }}
            <AddItemDialog :key="member.id + '_delete_member'" type="deleteMember" @reloadData="fetchData()"
              :itemObject="member" icon="trash" size="small" />
            <AddItemDialog :key="family.id + '_update_member'" type="updateMember" @reloadData="fetchData()"
              :itemObject="member" icon="create" size="small" />
          </td>
          <td>{{ member.name }}</td>
          <td>{{ member.birth_date }}</td>
          <td>{{ member.membership }}</td>
          <td>&euro;{{ member.fee }},-</td>
        </tr>
        <Spinner v-else loading-text="Loading family..." />
      </tbody>
      <tfoot>
        <th>totaal</th>
        <th colspan="4">&euro;{{ family.fee }},-</th>
      </tfoot>
    </table>
  </section>
</template>
  
<script setup>
import { useRoute } from 'vue-router';
import { useFamilyStore } from '@/stores/familyStore';
import { onMounted, ref } from 'vue';

import Spinner from '@/components/Loaders/Spinner.vue';
import AddItemDialog from '@/components/CrudComponents/AddItemDialog.vue';

const familyStore = useFamilyStore();
const route = useRoute();
const family = ref(null);
const dataLoaded = ref(false);

async function fetchData() {
  dataLoaded.value = false;
  await familyStore.fill();
  family.value = familyStore.familyData.find(family => family.id == route.params.id);
  dataLoaded.value = true;
}

onMounted(async () => {
  if (!familyStore.familyData) {
    await familyStore.fill();
  }
  family.value = familyStore.familyData.find(family => family.id == route.params.id);
  console.log(family.value)
  dataLoaded.value = true;
});
</script>
  