<template>
    <section class="table-wrapper">
        <ion-icon class="refresh-icon" size="large" @click="fetchFamilies()" name="refresh-outline"></ion-icon>
        <table>
            <thead>
                <tr>
                    <th>
                        Familie Id
                        <NumberFilter property-filter="id" />
                    </th>
                    <th>
                        Familie Naam
                        <AddItemDialog type="createFamily" @reloadData="fetchFamilies()" :itemObject="family"
                            icon="add-circle" size="large" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="dataLoaded" v-for=" family  in  familyStore.familyData ">
                    <td>
                        {{ family.id }}
                    </td>
                    <td>
                        <RouterLink :to="`family/${family.id}`">{{ family.name }}</RouterLink>
                        <AddItemDialog :key="family.id + '_delete_family'" type="deleteFamily" @reloadData="fetchFamilies()"
                            :itemObject="family" icon="trash" size="small" />
                        <AddItemDialog :key="family.id + '_update_family'" type="updateFamily" @reloadData="fetchFamilies()"
                            :itemObject="family" icon="create" size="small" />
                    </td>
                </tr>
                <Spinner v-else loading-text="Loading data..." />
            </tbody>
        </table>
    </section>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useFamilyStore } from '@/stores/familyStore';
import Spinner from '@/components/Loaders/Spinner.vue';
import NumberFilter from '@/components/Filters/NumberFilter.vue';
import AddItemDialog from '@/components/CrudComponents/AddItemDialog.vue';

const dataLoaded = ref(false);
const familyStore = useFamilyStore();

async function fetchFamilies() {
    dataLoaded.value = false;
    await familyStore.fill();
    dataLoaded.value = true;
}

onMounted(async () => {
    dataLoaded.value = false;
    if (!familyStore.familyData) {
        await familyStore.fill();
    }
    dataLoaded.value = true;
});
</script>
