<template>
    <section class="table-wrapper">
        <table>
            <caption>
                <h2>Een overzicht van de bedragen</h2>
                <span>De basiskosten van het jaar
                    <select v-model="selectedFiscalYear">
                        <option v-for="fiscalYear in sortedFiscalYears" :key="fiscalYear.base_price" :value="fiscalYear">{{
                            fiscalYear.year }}
                        </option>
                    </select> voor een abbonement zijn &euro;{{ selectedFiscalYear.base_price }},&hyphen;</span>
            </caption>
            <thead>
                <tr>
                    <th>
                        Lidmaatschap
                    </th>
                    <th>
                        Fiscaal Jaar </th>
                    <th>
                        Prijs
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="membership in membershipStore.membershipData">

                    <td>
                        {{ membership.description }}
                    </td>
                    <td>
                        {{ selectedFiscalYear.year }}

                    </td>
                    <td>
                        &euro;
                        {{ (selectedFiscalYear.base_price - membership.discount) }}
                        ,&hyphen;
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template> 
 
<script setup>
import { ref, computed, onMounted } from 'vue';
import { useFeeStore } from '@/stores/feeStore';
import { useFiscalYearStore } from '@/stores/fiscalYearStore';
import { useMembershipStore } from '@/stores/membershipStore';

const membershipStore = useMembershipStore();
const fiscalYearStore = useFiscalYearStore();
const feeStore = useFeeStore();

const currentDate = ref(new Date);
const currentYear = computed(() => currentDate.value.getFullYear());

// Try to select the first year
const initialSelectedYear = fiscalYearStore.fiscalYearData[0];
const selectedFiscalYear = ref(initialSelectedYear || {});

// Sort fiscal years ascendingly
const sortedFiscalYears = computed(() => {
    if (fiscalYearStore.fiscalYearData) {
        const fiscalYears = [...fiscalYearStore.fiscalYearData];
        fiscalYears.sort((a, b) => a.year - b.year);
        return fiscalYears;
    }
    return [];
});

onMounted(async () => {
    feeStore.fill();
    fiscalYearStore.fill();
    membershipStore.fill();
});

</script> 
