<template>
    <section class="table-wrapper">
        <table>
            <caption>
                <h2>Een overzicht van de boekjaren</h2>
            </caption>
            <thead>
                <tr>
                    <th>
                        Boekjaar
                        <AddItemDialog type="addFiscalYear" @reloadData="reloadFiscalYears()" icon="add-circle"
                            size="large" />
                    </th>
                    <th>
                        Basisprijs
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="fiscalYear in sortedFiscalYears">
                    <td>
                        {{ fiscalYear.year }}
                        <AddItemDialog :key="`${fiscalYear.year}updateYear`" type="updateFiscalYear"
                            @reloadData="reloadFiscalYears()" :itemObject="fiscalYear" icon="create" size="small" />
                        <AddItemDialog :key="`${fiscalYear.year}deleteYear`" type="deleteFiscalYear"
                            @reloadData="reloadFiscalYears()" :itemObject="fiscalYear" icon="trash" size="small" />
                    </td>
                    <td>
                        &euro;
                        {{ fiscalYear.base_price }}
                        ,&hyphen;
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template> 
 
<script setup>
import { computed, onMounted } from 'vue';
import AddItemDialog from '@/components/CrudComponents/AddItemDialog.vue';
import { useFiscalYearStore } from '@/stores/fiscalYearStore';

const fiscalYearStore = useFiscalYearStore();

// Sort fiscal years ascendingly
const sortedFiscalYears = computed(() => {
    if (fiscalYearStore.fiscalYearData) {
        const fiscalYears = [...fiscalYearStore.fiscalYearData];
        fiscalYears.sort((a, b) => a.year - b.year);
        return fiscalYears;
    }
    return [];
});

onMounted(async () => {
    fiscalYearStore.fill();
});
async function reloadFiscalYears() {
    fiscalYearStore.fill();
}
</script> 
