<template>
  <main id="loginPage">

    <section>
      <div v-if="confirmingCredentials">
        <Spinner />
      </div>
      <h1>Login</h1>
      <form @submit.prevent="sendLoginForm">
        <div>
          <label for="email">Gebruikersnaam: </label>
          <input type="email" name="email" id="email" v-model="email" />
        </div>
        <div>
          <label for="password">Wachtwoord: </label>
          <input type="password" name="password" id="password" v-model="password" />
        </div>
        <div>
          <button :class="{ disabledButton: buttonDisable }" :disabled="buttonDisable">Log in</button>
        </div>
      </form>

      <p v-if="message">{{ message }}</p>
    </section>
  </main>
</template>
<script setup>
import { ref } from 'vue';
import { useUserStore } from '../stores/auth.js';
import Spinner from '@/components/Loaders/Spinner.vue';
const userStore = useUserStore();
const email = ref('');
const password = ref('');
const message = ref('');
const confirmingCredentials = ref(false);
const buttonDisable = ref(false);

async function sendLoginForm() {
  message.value = '';
  buttonDisable.value = true;
  confirmingCredentials.value = true;
  try {
    await userStore.signUp(email.value, password.value);
  } catch (e) {
    message.value = "Inloggen mislukt";
  }
  buttonDisable.value = false;
  confirmingCredentials.value = false;
}
</script>
