<template>
    <section class="table-wrapper">
        <table>
            <caption>
                <h2>Een overzicht van de staffels</h2>
            </caption>
            <thead>
                <tr>
                    <th>
                        Soort lid
                        <div>
                            <AddItemDialog type="addMembership" size="large" icon="add-circle"
                                @reload-data="getMembershipData()" />
                            <AddItemDialog type="updateMembership" size="large" icon="create"
                                @reload-data="getMembershipData()" :item-object="sortedMemberships" />
                        </div>
                    </th>
                    <th>
                        Leeftijd tot
                    </th>
                    <th>
                        Korting
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="dataLoaded && membershipStore.membershipData" v-for="membership in sortedMemberships"
                    :key="membership.id">
                    <td>
                        {{ membership.description }}
                        <AddItemDialog type="deleteMembership" size="small" icon="trash" @reload-data="getMembershipData()"
                            :item-object="membership" />
                    </td>
                    <td>
                        {{ membership.max_age }}
                    </td>
                    <td>
                        &euro;{{ membership.discount }},&hyphen;
                    </td>
                </tr>
                <Spinner v-else />
            </tbody>
        </table>
    </section>
</template>

<script setup>
import { onMounted, computed, ref } from 'vue';
import Spinner from '@/components/Loaders/Spinner.vue';
import AddItemDialog from '@/components/CrudComponents/AddItemDialog.vue';
import { useMembershipStore } from '@/stores/membershipStore';
const membershipStore = useMembershipStore();
const dataLoaded = ref(false);

async function getMembershipData() {
    dataLoaded.value = false;
    membershipStore.fill();
    dataLoaded.value = true;
}
onMounted(async () => {
    if (!membershipStore.membershipData) {
        membershipStore.fill();
    }
    dataLoaded.value = true;
});
// Sort memberships from youngest to oldest
const sortedMemberships = computed(() => {
    if (membershipStore.membershipData) {
        const memberships = [...membershipStore.membershipData];
        memberships.sort((a, b) => a.max_age - b.max_age);
        return memberships;
    }
    return [];
});
</script>
